<ion-header>
  <ion-toolbar>
    <ion-title>Cheques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button shape="round" expand="full" color="dark" href="/add-cheques"> Add Cheques </ion-button>
  <ion-button shape="round" expand="full" color="dark" href="/progress-cheques"> progress-cheques </ion-button>
  <ion-button shape="round" expand="full" color="dark" href="/previous-cheques-history"> Previous Cheques History  </ion-button>
  <ion-button shape="round" expand="full" color="dark" href="/tracking-cheques  "> tracking Cheques </ion-button>








  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="dark" href="/secound-home">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
