<ion-header>
  <ion-toolbar>
    <ion-title>previousChequesHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>Ahmed Soliman    200,000LE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Samer Nader    70,000LE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ramy Ashraf    5000LE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ahmed Khatab    1000LE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Yassser Soliman    90,000LE</ion-label>
    </ion-item>
  </ion-list>


  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="dark" href="/cheques">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
