<ion-header>
  <ion-toolbar>
    <ion-title>Progress cheques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>Tarek Soliman    155,000LE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Klamal El Sayed    95,000LE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Moustafa Ashraf    30,000LE</ion-label>
    </ion-item>
  </ion-list>


  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button color="dark" href="/cheques">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
